body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.header {
  background: #fff;
  width: 100%;
}

.logo-text {
  text-transform: uppercase;
  background-color: #a2bed6;
  font-size: 34px;
  margin: 0;
  padding: 20px;
  display: block;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  float: left;
}

.header-nav {
  clear: left; /*limpa o float left do .logo-text*/
}

.header-nav ul {
  margin: 0;
  padding: 0;
}

.header-nav li {
  list-style-type: none;
  background: #242a2c;
  text-align: center;
  border-bottom: 1px dotted rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
}

.header-nav a {
  text-decoration: none;
  color: #586165;
  font-size: 14px;
  font-weight: 600;
  display: block;
  padding: 25px 0;
  transition: 0.5s ease;
}

.header-nav a:hover {
  color: #a2bed6;
}

.header__btn-menu {
}

.hero {
  height: 80vh;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*SETA COM CSS*/
  background: linear-gradient(45deg, white 49%, transparent 50%) left
      calc(50% + 20px) bottom no-repeat,
    linear-gradient(-45deg, white 49%, transparent 50%) left calc(50% - 20px)
      bottom no-repeat,
    url(../img/lampada.jpg);
  background-size: 40px 40px, 40px 40px, cover;
}

.hero-title {
  background-color: #a2bed6;
  color: white;
  font-size: 25px;
  font-weight: 600;
  padding: 50px 40px;
  text-transform: uppercase;
}

.hero-text {
  background-color: #242a2c;
  margin: 5px 30px 35px;
  color: white;
  padding: 28px;
  font-size: 16px;
}

.hero-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.pessoa-card {
  margin-top: 2.5em;
}

.pessoa-card-pic:hover {
  outline: 5px solid #a2bed6;
  outline-offset: -5px; /*ANDA COM A LINHA PARA DENTRO DO CARD*/
}

.pessoa-card-pic:hover .pessoa-card-avatar img {
  transform: translateY(-88px);
}

.pessoa-card-pic:hover .pessoa-card-title,
.pessoa-card-pic:hover .pessoa-card-title {
  color: #a2bed6;
}

.pessoa-card-img {
  width: 100%;
}

.pessoa-card-avatar {
  margin: -55px auto;
  width: 88px;
  height: 88px;
  overflow: hidden;
  border-radius: 50%;
  border: 8px solid #a2bed6;
}

.pessoa-card-content {
  text-align: center;
  padding: 40px 25px 10px;
  border-left: 1px solid #dbe1e7;
}

.pessoa-card-title {
  color: #737c85;
  font-size: 21px;
  font-weight: normal;
}

.pessoa-card-text {
  color: #929da5;
  font-size: 14px;
}


